<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.haohao.kotlintest">

    <uses-sdk tools:overrideLibrary="tv.danmaku.ijk.media.player_arm64,tv.danmaku.ijk.media.player_x86_64" />
    <!-- normal permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />

    <application
        android:name=".KotlinApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:overrideLibrary="tv.danmaku.ijk.media.player_arm64">
        <activity android:name=".function.MyViewActivity"></activity>
        <activity android:name=".function.ProcessActivity" />
        <activity android:name=".function.mvvm.MVVMActivity" />
        <activity android:name=".function.NavigationActivity" />
        <activity android:name=".function.ContainsActivity" />
        <activity android:name=".function.NotifyActivity" />
        <activity android:name=".function.MailListActivity" />
        <activity
            android:name=".intentTest.DialogThemeActivity"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name=".intentTest.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity android:name=".viewpage2.ViewPager2Activity" />
        <activity android:name=".java.BindingActivity" />
        <activity android:name=".test1.MoveActivity" />
        <activity android:name=".test1.JavaActivity" />
        <activity android:name=".test1.AnimationActivity" />
        <activity android:name=".test1.NumberActivity" />
        <activity android:name=".test1.AnimActivity" />
        <activity android:name=".test1.Test1Activity" />
        <activity android:name=".study.StudyActivity" />
        <activity android:name=".MainListActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />

        <service
            android:name=".function.service.ProcessService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name">

            <!-- android:process=":remote" -->
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
            </intent-filter>
        </service>
    </application>

</manifest>